<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel='stylesheet'  href='/static/basket.css'>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">재료</h1>
        <form id="ingredientForm" action="/send-ingredients" method="POST">
    {% for i in ingredients %}
        <p class="ingredient-item">
            <input type="checkbox" name="ingredients" value="{{ i }}">{{ i }}
        </p>
    {% endfor %}
    <button class="call_button" type="submit" >쇼퍼 콜 </button>
</form>
    </div>
</body>
</html>