<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel='stylesheet' href='/static/basket.css'>
</head>

<body>
    <div class="container">
        <h1 class="title">준비 재료</h1>
        <p class="subtitle">※ 재료 선택 시 체크됨 ※</p>
        <form id="ingredientForm" action="/send-ingredients" method="POST">
            <div class="ingredients-grid">
                {% for ingredient in ingredients %}
                <label class="ingredient-item">
                    <input type="checkbox" name="ingredients" value="{{ ingredient }}">
                    <span class="ingredient-name">{{ ingredient }}</span>
                </label>
                {% endfor %}
            </div>
            <button class="call_button" type="submit">쇼퍼 콜</button>
        </form>
    </div>
    <script src="/static/basket.js"></script>
</body>

</html>
