<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/category.css">
</head>
<body>
    <div class="container">
        <div class="options">
          <a href="/rice">
            <img src="/static/image/rice.png" alt="rice">
            <span>밥</span>
          </a>
          <a href="/side_dish">
            <img src="/static/image/side_dish.png" alt="side_dish">
            <span>반찬</span>
          </a>
          <a href="/soup">
            <img src="/static/image/soup.png" alt="soup">
            <span>국 & 찌개</span>
          </a>
          <a href="/high_end_food">
            <img src="/static/image/high_end_food.png" alt="high_end_food">
            <span>고급요리</span>
          </a>
           <a href="/dessert">
            <img src="/static/image/dessert.png" alt="dessert">
            <span>후식</span>
          </a>

        </div>
      </div>
</body>
</html>
