<!--삭제 예정 코드-->

<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>중식</title>-->
<!--  <link rel="stylesheet" href=" {{ url_for('static', filename='foodSelect.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--  <div class="container">-->
<!--    <h2 class="title">중식</h2>-->
<!--    <div class="food-list">-->
<!--      <a href="{{ url_for('gpt_page')}}">마파 두부</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">짬뽕</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">쿵파오 치킨</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">짜장면</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">탕수육</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">마라탕</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">볶음밥</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">잡채밥</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">해물덮밥</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">유린기</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="back-button" onclick="goBack()">뒤로 가기</button>-->
<!--  <script src="{{ url_for('static', filename='foodSelect.js') }}"></script>-->
<!--</body>-->
<!--</html>-->
