<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일식</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h2 class="title">일식</h2>
    <div class="food-list">
      <a href="{{ url_for('recipe_page')}}">초밥</a>
      <a href="{{ url_for('recipe_page')}}">회</a>
      <a href="{{ url_for('recipe_page')}}">라멘</a>
      <a href="{{ url_for('recipe_page')}}">덴뿌라</a>
      <a href="{{ url_for('recipe_page')}}">우동</a>
      <a href="{{ url_for('recipe_page')}}">야키토리</a>
      <a href="{{ url_for('recipe_page')}}">돈까스</a>
      <a href="{{ url_for('recipe_page')}}">미소국</a>
      <a href="{{ url_for('recipe_page')}}">타코야키</a>
      <a href="{{ url_for('recipe_page')}}">오코노미야키</a>
    </div>
  </div>
  <button class="back-button" onclick="goBack()">뒤로 가기</button>
  <script src="script.js"></script>
</body>
</html>
