<!--삭제 예정 코드-->

<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>일식</title>-->

<!--    href="{{ url_for('static', filename='category.css') }}"-->
<!--  <link rel="stylesheet" href=" {{ url_for('static', filename='foodSelect.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--  <div class="container">-->
<!--    <h2 class="title">일식</h2>-->
<!--    <div class="food-list">-->
<!--      <a href="{{ url_for('gpt_page')}}">초밥</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">회</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">라멘</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">덴뿌라</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">우동</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">야키토리</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">돈까스</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">미소국</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">타코야키</a>-->
<!--      <a href="{{ url_for('gpt_page')}}">오코노미야키</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="back-button" onclick="goBack()">뒤로 가기</button>-->
<!--  <script src="{{ url_for('static', filename='foodSelect.js') }}"></script>-->
<!--</body>-->
<!--</html>-->
