<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe['RCP_NM'] }}</title>
    <link rel="stylesheet" href="/static/recipe_detail.css">
</head>
<body>
      <div class="container">
            <div class="container">
            <h1>{{ recipe['RCP_NM'] }}</h1>
            <h2>재료</h2>
            <p>{{ recipe['RCP_PARTS_DTLS'] }}</p>
            <h2>레시피</h2>
            <div >
               {% for i in range(1, 7) %}
                    {% set manual_key = 'MANUAL{:02d}'.format(i) %}
                    {% set image_key = 'MANUAL_IMG{:02d}'.format(i) %}
                    {% if recipe[manual_key] is not none %}
                        <div class="recipe-index">{{ recipe[manual_key] }}</div>
                    {% endif %}
                    {% if recipe[image_key] is not none %}
                        <div class="recipe-step">
                            <img src="{{ recipe[image_key] }}" alt="Step Image" class="recipe-image">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if recipe['RCP_NM'] is not none %}
                <a href="/basket/{{ recipe['@id'] }}" class="basket_button">장바구니</a>
            {% endif %}
        </div>
      </div>
</body>
</html>
